<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988163815731-vsvjr4cf7ibdm9aa9o53b5eg1b2oes2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988163815731-vsvjr4cf7ibdm9aa9o53b5eg1b2oes2a</string>
	<key>API_KEY</key>
	<string>AIzaSyAtTUEIhYlImCM0tngRRjcwpcQB_3Q3rW0</string>
	<key>GCM_SENDER_ID</key>
	<string>988163815731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jresteaujus</string>
	<key>PROJECT_ID</key>
	<string>jresteaujus</string>
	<key>STORAGE_BUCKET</key>
	<string>jresteaujus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988163815731:ios:4d64787c658f9cf66aa646</string>
	<key>DATABASE_URL</key>
	<string>https://jresteaujus-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>